.membership__title, .specifications__title, .charters__title, .description__title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Poppins", serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #151515;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: sticky;
  padding-top: 15px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: 36px;
}
.header__button {
  display: flex;
  justify-content: space-between;
}
.header__button-link {
  margin-right: 15px;
  color: #181818;
  cursor: pointer;
  padding: 6px 0;
}
.header__btn {
  width: 93px;
  height: 31px;
  border-radius: 5px;
  background-color: #656293;
  color: #fff;
  border: none;
  cursor: pointer;
}

.menu {
  background-color: transparent;
}
.menu__list {
  display: flex;
}
.menu__list-item {
  align-items: center;
  padding: 6px 8px;
}
.menu__list-link {
  color: #181818;
  cursor: pointer;
}
.menu__list-link:hover {
  color: #656293;
  transition: all 0.3s;
}

.book-flights {
  box-shadow: 0px 1px 3px 0px rgba(19, 10, 46, 0.1294117647);
  box-shadow: 0px 3px 14px 0px rgba(19, 10, 46, 0.031372549);
  box-shadow: 0px 8px 32px 0px rgba(19, 10, 46, 0.0705882353);
  box-shadow: 0px 30px 84px 0px rgba(19, 10, 46, 0.0784313725);
  width: 1110px;
  height: 266px;
  border-radius: 12px;
  background-color: #fff;
  margin: 0 auto;
  transform: translateY(-40%);
  z-index: 10;
}
.book-flights__list {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.book-flights__list-item {
  display: flex;
  padding: 25px 5px 15px 15px;
}
.book-flights__list-child {
  position: absolute;
  width: 130px;
  height: auto;
  top: 50px;
  z-index: 10;
  left: -9999px;
}
.book-flights__list-child a {
  color: #fff;
  padding: 10px;
}
.book-flights__list-child a:hover {
  background-color: transparent;
}
.book-flights__list-child li {
  background-color: #656293;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
}
.book-flights__list-child li:hover {
  background-color: #442456;
}
.book-flights__list-item:hover .book-flights__list-child {
  left: auto;
  width: auto;
  transition: all 0.5s;
}
.book-flights__list-link {
  font-weight: 600;
  color: #151515;
}
.book-flights__list-img {
  padding-left: 10px;
  padding-top: 6px;
}
.book-flights__wrapper {
  display: flex;
}
.book-flights__wrapper-item {
  display: flex;
}
.book-flights__from {
  margin-left: 15px;
  margin-bottom: 15px;
}
.book-flights__from, .book-flights__to {
  width: 300px;
  height: 117px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  text-align: left;
}
.book-flights__from-text, .book-flights__to-text {
  padding: 10px 0 10px 15px;
  color: #151515;
  opacity: 60%;
}
.book-flights__from-title, .book-flights__to-title {
  font-family: "Poppins", serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  padding-left: 14px;
}
.book-flights__icon {
  padding: 45px 6px 0;
}
.book-flights__requirements {
  text-align: left;
  text-decoration-line: underline;
  color: #151515;
  padding-left: 14px;
}
.book-flights__button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.book-flights__btn {
  height: 80px;
  width: 233px;
  background-color: #656293;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}
.book-flights__btn-arrow {
  transform: translateX(-50px);
  color: #fff;
  cursor: pointer;
}

.calendar {
  display: flex;
  position: relative;
  width: 381px;
  height: 117px;
  margin: 0 auto;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
}
.calendar__departure, .calendar__return {
  padding: 10px 20px;
}
.calendar__departure-name, .calendar__return-name {
  opacity: 60%;
  padding-bottom: 6px;
}
.calendar__departure-title, .calendar__return-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
}
.calendar__img {
  width: 24px;
  height: 24px;
  margin-top: 43px;
  cursor: pointer;
}
.calendar__img:hover + .calendar__departure-click {
  transform: translateX(0);
}
.calendar__img:hover + .calendar__return-click {
  transform: translateX(0);
}
.calendar__departure-click {
  background-color: #d6d1d1;
  color: #151515;
  width: auto;
  height: 34px;
  margin-left: 74px;
  top: 70px;
  border: none;
  position: absolute;
  z-index: 10;
  transform: translateX(-9999px);
}
.calendar__return-click {
  background-color: #d6d1d1;
  color: #151515;
  width: auto;
  height: 34px;
  right: 0;
  margin-left: 20px;
  margin-right: 24px;
  top: 70px;
  border: none;
  position: absolute;
  z-index: 10;
  transform: translateX(-9999px);
}
.calendar__departure-links, .calendar__return-links {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.calendar__link {
  font-family: "Poppins", serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #151515;
  opacity: 60%;
}
.calendar__link:hover {
  text-decoration: underline;
}

.hero {
  background-image: url(../images/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -70px;
  padding-top: 120px;
  padding-bottom: 140px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero__title {
  font-family: "Roboto", serif;
  font-size: 66px;
  line-height: 1.18;
  font-weight: 400;
  padding: 100px 140px 35px 0;
}
.hero__title span {
  font-weight: 700;
  color: #656293;
}
.hero__link-image {
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border: 15px solid #fff;
  border-radius: 130px;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.hero__link-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.hero__link {
  color: #151515;
}

.description {
  background-image: url(../images/description/description-bg-left.png), url(../images/description/description-bg-right.png);
  background-repeat: no-repeat;
  background-position-x: left, right;
  background-position-y: 14%, bottom;
}
.description__title {
  background-image: url(../images/ellipse.png);
  background-repeat: no-repeat;
  background-position: center top 45%;
  text-align: center;
}
.description__top {
  display: flex;
}
.description__top-img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 100px 10px 150px 30px;
}
.description__top-info {
  width: 463px;
  height: 245px;
  padding-top: 100px;
  padding-left: 20px;
}
.description__top-name {
  text-align: left;
  padding-top: 70px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
.description__top-text {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  color: #151515;
  opacity: 60%;
  padding-left: 10px;
}
.description__bottom {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 65px;
  margin-bottom: 100px;
}
.description__bottom-wrapper {
  width: 463px;
  height: 245px;
  margin: 90px 20px 50px 0;
  text-align: left;
}
.description__bottom-img {
  border-radius: 15px;
}
.description__bottom-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 30px;
}
.description__bottom-text {
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #151515;
  opacity: 60%;
  margin-right: 20px;
}

.charters {
  position: relative;
  margin-bottom: 50px;
}
.charters::after {
  content: "";
  background-image: url(../images/charters/bg-charters.png);
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.2;
  left: 650px;
  right: 0;
  top: 85px;
  bottom: 0;
  z-index: -1;
}
.charters__title {
  background-image: url(../images/ellipse.png);
  background-repeat: no-repeat;
  background-position: center top 45%;
  text-align: center;
}
.charters__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 50px;
}
.charters__item {
  text-align: center;
  width: 255px;
  height: 251px;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(19, 10, 46, 0.1294117647);
  box-shadow: 0px 3px 14px 0px rgba(19, 10, 46, 0.031372549);
  box-shadow: 0px 8px 32px 0px rgba(19, 10, 46, 0.0705882353);
  box-shadow: 0px 30px 84px 0px rgba(19, 10, 46, 0.0784313725);
}
.charters__img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}
.charters__text {
  padding-top: 14px;
  font-size: 16px;
  line-height: 1.5;
  color: #151515;
}

.specifications {
  background-image: url(../images/specifications/plane.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 70px;
}
.specifications__title {
  background-image: url(../images/ellipse.png);
  background-repeat: no-repeat;
  background-position: center top 10%;
  text-align: center;
  padding-bottom: 70px;
}
.specifications__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-self: center;
  -moz-column-gap: 340px;
       column-gap: 340px;
}
.specifications__item {
  text-align: center;
  width: 370px;
  height: 268px;
  border-radius: 12px;
  box-shadow: 0px 1px 3px 0px rgba(19, 10, 46, 0.1294117647);
  box-shadow: 0px 3px 14px 0px rgba(19, 10, 46, 0.031372549);
  box-shadow: 0px 8px 32px 0px rgba(19, 10, 46, 0.0705882353);
  box-shadow: 0px 30px 84px 0px rgba(19, 10, 46, 0.0784313725);
}
.specifications__img {
  margin: 40px auto 20px;
}
.specifications__text {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
  width: 266px;
  height: auto;
  margin: 20px auto 0;
}

.membership {
  padding-bottom: 100px;
}
.membership__title {
  background-image: url(../images/ellipse.png);
  background-repeat: no-repeat;
  background-position: center top 45%;
  text-align: center;
}
.membership__wrapper {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.membership__item {
  background-color: #f5f5f5;
  width: 400px;
  height: 572px;
  margin-right: 25px;
  text-align: center;
  position: relative;
}
.membership__item:hover {
  background-color: #656293;
  color: #fff;
  width: 400px;
  height: 572px;
  margin-right: 25px;
  bottom: 30px;
  transition: background-color 0.5s;
  border-radius: 20px;
}
.membership__item:hover button {
  background-color: #fff;
  color: #151515;
}
.membership__item:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.membership__item:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.membership__item-name {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 700;
  text-align: left;
  padding: 20px 0 40px 20px;
}
.membership__item-info {
  font-size: 22px;
  line-height: 1.5;
  color: #A9A9AA;
  padding-left: 20px;
  padding-bottom: 25px;
  text-align: left;
}
.membership__item-wrapper {
  padding-left: 20px;
}
.membership__item-text {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
}
.membership__item-text-svg {
  margin-right: 8px;
  margin-bottom: 3px;
}
.membership__item-price {
  padding-left: 20px;
  padding-block: 70px 15px;
  font-size: 18px;
  line-height: 2.22;
  text-align: left;
  position: relative;
}
.membership__item-price b {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}
.membership__item-price::after {
  content: "";
  position: absolute;
  border-bottom: 1px dotted #A9A9AA;
  top: 0;
  bottom: 130px;
  left: 22px;
  right: 0;
  width: 352px;
}
.membership__item-btn {
  width: 352px;
  height: 62px;
  border-style: none;
  border-radius: 12px;
  background-color: #656293;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.81;
  text-align: center;
  cursor: pointer;
}

.footer {
  background-color: #656293;
  width: 100%;
  position: relative;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__inner::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  border-bottom: 1px solid #fff;
  width: 100%;
  opacity: 0.2;
  pointer-events: none;
}
.footer__logo-img {
  margin-block: 50px 30px;
  cursor: pointer;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 20px 20px;
}
.footer__menu-list {
  display: flex;
  justify-content: space-between;
}
.footer__menu-item-link {
  padding-right: 30px;
  color: #fff;
  opacity: 0.7;
}
.footer__menu-item-link:hover {
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s;
}
.footer__menu-info {
  color: #fff;
  opacity: 0.7;
}

@media (max-width: 1120px) {
  .hero__title {
    font-size: 50px;
  }
  .book-flights {
    width: auto;
  }
  .book-flights__from, .book-flights__to {
    width: auto;
    height: 100%;
  }
  .book-flights__to {
    width: 250px;
    margin-right: 10px;
  }
  .book-flights__from-text, .book-flights__to-text {
    padding-inline: 10px;
  }
  .book-flights__from-title, .book-flights__to-title {
    padding-inline: 10px;
  }
  .book-flights__icon {
    padding-top: 50px;
  }
  .calendar {
    height: 135px;
  }
}
@media (max-width: 1050px) {
  .header {
    display: block;
  }
  .header__logo-img {
    width: 80px;
  }
  .menu__list-link {
    font-size: 12px;
  }
  .hero__title {
    padding: 100px 20px 35px 0;
  }
  .hero__link-image {
    width: 270px;
    height: 370px;
  }
  .book-flights {
    margin-top: 80px;
    height: 100%;
    text-align: center;
  }
  .book-flights__wrapper {
    display: block;
  }
  .book-flights__wrapper-item {
    display: flex;
    justify-content: space-between;
  }
  .book-flights__from, .book-flights__to {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .book-flights__from {
    margin-left: 0;
    margin-bottom: 0;
  }
  .book-flights__to {
    margin-left: 20px;
  }
  .book-flights__icon {
    margin-inline: 10px 18px;
  }
  .book-flights__btn {
    transform: translateY(40px);
  }
  .book-flights__btn-arrow {
    transform: translateY(40px);
  }
  .calendar {
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-block: 40px 20px;
  }
  .calendar__return-click {
    padding-right: 20px;
  }
  .calendar__departure-click {
    margin-right: 155px;
  }
  .calendar__return, .calendar__departure {
    padding-inline: 70px 30px;
  }
  .calendar__img {
    transform: translateX(-40px);
  }
}
@media (max-width: 780px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 11;
  }
  .header__logo-img {
    width: 100px;
    display: block;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 26px;
    margin-top: 4px;
  }
  .header__burger span {
    position: absolute;
    background-color: #656293;
    left: 0;
    width: 100%;
    height: 2px;
    top: 12px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    content: "";
    position: absolute;
    background-color: #656293;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    content: "";
    position: absolute;
    background-color: #656293;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 12px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 12px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header.active {
    position: fixed;
    background-color: #f5f5f5;
    padding-bottom: 10px;
    transition: background-color 0.5s;
  }
  .menu {
    position: fixed;
    right: 0;
    top: -120%;
    width: 320px;
    height: auto;
    transition: 0.5s ease 0s;
    background-color: #f5f5f5;
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    text-align: center;
    margin-block: 30px;
  }
  .menu__list-link {
    font-size: 18px;
    color: #656293;
  }
  .menu__list-link:hover {
    color: #151515;
  }
  .menu.active {
    z-index: 5;
    top: 7.6%;
  }
  .hero {
    margin-bottom: 90px;
    width: 100%;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__link-image {
    margin-top: 30px;
    width: 200px;
    height: 270px;
  }
  .book-flights {
    text-align: center;
  }
  .book-flights__wrapper {
    display: block;
  }
  .book-flights__from, .book-flights__to {
    height: 100%;
    width: 100%;
  }
  .book-flights__from {
    margin-left: 0;
    margin-bottom: 0;
  }
  .book-flights__icon {
    padding-block: 10px;
  }
  .book-flights__icon-link {
    display: flex;
    margin-right: 36px;
    transform: translateX(50%);
  }
  .calendar {
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .hero__link-image {
    display: none;
  }
  .hero__links {
    text-align: center;
  }
  .hero__title {
    padding-top: 50px;
    padding-right: 0;
  }
  .hero__link-arrow {
    display: none;
  }
}
@media (max-width: 450px) {
  .header__logo-img {
    padding-bottom: 5px;
    width: 80px;
    padding-right: 10px;
  }
  .header__burger {
    margin-left: 10px;
  }
  .header__button-link {
    font-size: 12px;
  }
  .header__btn {
    height: 30px;
    width: 74px;
    font-size: 12px;
  }
  .hero__title {
    font-size: 26px;
  }
}/*# sourceMappingURL=style.css.map */