.hero {
  background-image: url(../images/header/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin-top: -70px;
  padding-block: 120px 140px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: "Roboto", serif;
    font-size: 66px;
    line-height: 1.18;
    font-weight: 400;
    padding: 100px 140px 35px 0;

    span {
      font-weight: 700;
      color: $content;
    }
  }

  &__link-image {
    right: 0;
    object-fit: cover;
    display: block;
    border: 15px solid $white;
    border-radius: 130px;
    box-shadow: 0px -4px 5px 0px #00000040 inset;
  }

  &__link-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }

  &__link {
    color: $default;
  }
}
