@media (max-width: 1120px) {
    .hero {
        &__title {
            font-size: 50px;
        }
    }

    .book-flights {
        border-radius: 0;
        width: auto;

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__wrapper-item {
            width: auto;
        }

        &__from-text,
        &__to-text {
            padding-inline: 10px;
        }

        &__from-title,
        &__to-title {
            padding-inline: 10px;
        }

        &__icon {
            padding-top: 50px;
        }
    }

    .calendar {

        &__departure-title,
        &__return-title {
            font-size: 18px;
        }
    }

    .description {
        &__title {
            font-size: 32px;
        }

        &__top-img {
            width: 500px;
            height: 320px;
            margin-block: 140px 200px;
        }

        &__top-name {
            font-size: 20px;
        }

        &__top-text {
            font-size: 14px;
        }

        &__bottom-img {
            width: 500px;
            height: 320px;
            margin-top: 20px;
        }

        &__bottom-text {
            font-size: 14px;
        }
    }

    .specifications {
        &__wrapper {
            column-gap: 140px;
        }

        &__item {
            width: 100%;
        }
    }

    .charters {
        &__item {
            margin-inline: 20px;
        }
    }
}

@media (max-width: 1050px) {
    .header {
        display: block;

        &__logo-img {
            width: 80px;
        }
    }

    .menu {
        &__list-link {
            font-size: 12px;
        }
    }

    .hero {
        &__title {
            padding: 100px 20px 35px 0;
        }

        &__link-image {
            width: 270px;
            height: 370px;
        }
    }

    .book-flights {
        margin-top: 80px;
        height: 100%;
        text-align: center;

        &__wrapper {
            display: block;
        }

        &__wrapper-item {
            display: flex;
            justify-content: space-between;
        }

        &__from,
        &__to {
            height: 100%;
            width: 100%;
            text-align: center;
        }

        &__from {
            margin-left: 0;
            margin-bottom: 0;
        }

        &__to {
            margin-left: 20px;
        }

        &__icon {
            margin-inline: 10px 18px;
        }

        &__btn {
            transform: translateY(40px);
        }

        &__btn-arrow {
            transform: translate(-60px, 40px);
        }
    }

    .calendar {
        margin: 20px auto;
        width: auto;
        display: flex;
        justify-content: space-evenly;

        &__return-click {
            padding-right: 20px;
        }

        &__departure-click {
            margin-right: 155px;
        }

        &__return,
        &__departure {
            padding-inline: 10px 20px;
        }

        &__img {
            margin-right: 10px;
        }
    }

    .specifications {
        &__title {
            font-size: 32px;
        }
    }
    .charters{
        &__title{
            font-size: 32px;
        }
    }
}

@media (max-width: 900px) {
    .description {
        background-size: 40%;
        background-position-y: 16%, 95%;

        &__title {
            font-size: 26px;
        }

        &__top-img {
            width: 450px;
            height: 270px;
            margin-block: 120px 90px;
            margin-left: 0;
        }

        &__top-name {
            padding-block: 40px 10px;
            font-size: 20px;
        }

        &__top-text {
            font-size: 14px;
        }

        &__bottom {
            margin-top: 30px;
        }

        &__bottom-name {
            font-size: 20px;
            padding-bottom: 10px;
        }

        &__bottom-img {
            width: 450px;
            height: 270px;
            margin-top: 80px;
        }

        &__bottom-text {
            font-size: 14px;
        }
    }

    .specifications {
        &__wrapper {
            column-gap: 100px;
        }
    }
}

@media (max-width: 780px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 11;

        &__logo-img {
            width: 100px;
            display: block;
        }

        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 26px;
            margin-top: 4px;

            span {
                position: absolute;
                background-color: $content;
                left: 0;
                width: 100%;
                height: 2px;
                top: 12px;
                transition: all 0.3s ease 0s;
            }
        }

        &__burger::before {
            content: "";
            position: absolute;
            background-color: $content;
            width: 100%;
            height: 2px;
            right: 0;
            transition: all 0.3s ease 0s;
        }

        &__burger::before {
            top: 0;
        }

        &__burger::after {
            content: "";
            position: absolute;
            background-color: $content;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }

        &__burger::after {
            bottom: 0;
        }

        &__burger.active::before {
            transform: rotate(45deg);
            top: 12px;
        }

        &__burger.active::after {
            transform: rotate(-45deg);
            bottom: 12px;
        }

        &__burger.active span {
            transform: scale(0);
        }
    }

    .header.active {
        position: fixed;
        background-color: $cards;
        padding-bottom: 10px;
        transition: background-color 0.5s;
    }

    .menu {
        position: fixed;
        right: 0;
        top: -120%;
        width: 320px;
        height: auto;
        transition: 0.5s ease 0s;
        background-color: $cards;

        &__list {
            display: block;
        }

        &__list-item {
            text-align: center;
            margin-block: 30px;
        }

        &__list-link {
            font-size: 18px;
            color: $content;
        }

        &__list-link:hover {
            color: $default;
        }
    }

    .menu.active {
        z-index: 5;
        top: 7.8%;
    }

    .hero {
        margin-bottom: 90px;
        width: 100%;

        &__title {
            font-size: 36px;
        }

        &__link-image {
            margin-top: 30px;
            width: 200px;
            height: 270px;
        }
    }

    .book-flights {
        text-align: center;

        &__wrapper {
            display: block;
        }

        &__from,
        &__to {
            height: 100%;
            width: 100%;
        }

        &__from {
            margin-left: 0;
            margin-bottom: 0;
        }

        &__icon {
            padding-block: 10px;
        }

        &__icon-link {
            display: flex;
        }
    }

    .calendar {
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }

    .description {
        background-size: 40%;
        background-position-y: 28%, 98%;

        &__title {
            font-size: 24px;
        }

        &__top {
            flex-direction: column-reverse;
        }

        &__top-img {
            width: 450px;
            height: 270px;
            margin: 10px auto 20px;
        }

        &__top-info {
            padding-block: 40px 10px;
            padding-left: 0;
            width: auto;
            height: auto;
        }

        &__top-name {
            text-align: center;
            padding-block: 10px 20px;
            font-size: 20px;
        }

        &__top-text {
            text-align: center;
            font-size: 14px;
        }

        &__bottom {
            flex-direction: column-reverse;
            margin-block: 30px 10px;
        }

        &__bottom-wrapper {
            width: auto;
            height: auto;
            text-align: center;
            margin: 10px auto 20px;
        }

        &__bottom-name {
            font-size: 20px;
            padding-bottom: 10px;
        }

        &__bottom-img {
            width: 450px;
            height: 270px;
            margin: 0px auto;
        }

        &__bottom-text {
            text-align: center;
            font-size: 14px;
            margin: 0 auto;
        }
    }

    .specifications {
        padding-top: 50px;

        &__wrapper {
            column-gap: 10px;
            row-gap: 10px;
        }

        &__title {
            padding-bottom: 20px;
            font-size: 28px;
        }
    }

    .charters {
        &__title{
            font-size: 28px;
        }
        &__wrapper {
            padding-top: 30px;
        }

        &__item {
            margin-inline: 10px;
        }
    }
}

@media (max-width: 600px) {
    .hero {
        &__link-image {
            display: none;
        }

        &__links {
            text-align: center;
        }

        &__title {
            padding-top: 50px;
            padding-right: 0;
        }

        &__link-arrow {
            display: none;
        }
    }

    .book-flights {
        &__to {
            height: 142px;
        }
    }

    .description {
        background-size: 30%;
        background-position-y: 34%, 93%;

        &__top-img {
            width: 320px;
            height: 200px;
        }

        &__bottom-img {
            width: 320px;
            height: 200px;
        }
    }

    .specifications {
        padding-top: 0;

        &__title {
            font-size: 24px;
            padding-bottom: 40px;
        }

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }
    .charters{
        &__wrapper{
            padding-block: 10px 30px;
        }
        &__title{
            background-size: 30px;
            font-size: 24px;
        }
    }
}

@media (max-width: 450px) {
    .header {
        &__logo-img {
            padding-bottom: 5px;
            width: 80px;
            padding-right: 10px;
        }

        &__burger {
            margin-left: 10px;
        }

        &__button-link {
            font-size: 12px;
        }

        &__btn {
            height: 30px;
            width: 74px;
            font-size: 12px;
        }
    }

    .hero {
        &__title {
            font-size: 26px;
        }
    }

    .book-flights {
        &__list-item {
            padding: 10px 10px 25px 3px;
        }

        &__list-link {
            font-size: 12px;
        }

        &__wrapper {
            display: block;
        }

        &__to,
        &__from {
            height: 162px;
        }

        &__btn {
            transform: translate(14px, 30px);
            width: 150px;
            height: 60px;
            font-size: 14px;
            margin-right: 30px;
        }

        &__btn-arrow {
            width: 12px;
            height: 12px;
            transform: translate(-50px, 54px);
        }
    }

    .description {
        background-size: 30%;
        background-position-y: 34%, 93%;

        &__title {
            font-size: 20px;
        }

        &__top-info {
            padding-top: 20px;
        }

        &__top-name {
            font-size: 18px;
        }

        &__top-img {
            width: 270px;
            height: 160px;
        }

        &__bottom {
            margin-top: 10px;
            padding-bottom: 40px;
        }

        &__bottom-name {
            font-size: 18px;
            padding-bottom: 20px;
        }

        &__bottom-img {
            width: 270px;
            height: 160px;
        }
    }

    .specifications {
        &__title {
            font-size: 22px;
            padding-bottom: 20px;
        }

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }

        &__name {
            font-size: 14px;
        }

        &__text {
            font-size: 14px;
            width: auto;
        }
    }
    .charters{
        &__wrapper{
            padding-block: 10px 0;
        }
        &__title{
            background-size: 20px;
            padding-bottom: 10px;
            font-size: 22px;
        }
        &__img{
            margin-top: 10px;
            padding-top: 0;
            width: 200px;
            height: 160px;
            border-radius: 10px;
        }
    }
}